@model SistemaManejoEmpleados.Models.Departamento

@{
    ViewData["Title"] = "Registrar Departamento";
}

<h2 class="mb-4">Registrar Departamento</h2>

<form asp-action="Agregar" method="post">
    <div class="form-group mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Lista" class="btn btn-secondary">Cancelar</a>
</form>
